


/* ---------- CSS IFRAME ---------- */
body { overflow: hidden; }


/* HEADER */
div.iframe-header { position: absolute; top: 8px; left: 10px; width: calc(100% - 20px); height: 45px; padding: 0px 16px 0px 12px; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.05); 
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05); animation: show_sofly 0.3s; border-radius: 2px; }

div.iframe-header span.title { font-size: 14px; color: rgba(0, 0, 0, 0.9); font-weight: 500; margin-top: 2px; width: 100%; display: block; text-transform: uppercase; }
div.iframe-header span.title > span.separator { padding: 0px 10px; }

div.iframe-header span.title > img { width: 18px; vertical-align: text-bottom; margin: 0px 8px 0px 2px; opacity: 0.8; }
div.iframe-header span.title > img.small { width: 12px; }
div.iframe-header span.title > img.valign-sub { vertical-align: sub; }

div.iframe-header hr.separator { display: block; width: 30%; margin: 0px 2px; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0); }

div.iframe-header img.actuator { padding: 3px; width: 24px; border-radius: 2px; transition: 0.4s; opacity: 0.7; cursor: pointer; margin-left: 8px; margin-top: 0px; }
div.iframe-header img.actuator:hover { background-color: rgba(0, 0, 0, 0.1); transition: 0.4s; opacity: 0.9; }






/* CONTENT */
div.iframe-content { height: calc(100vh -  130px - 55px); overflow: auto; margin: 40px 0px; animation: show_sofly 0.5s; padding: 10px 20px 10px 20px; position: relative; }
div.iframe-content.without-footer { height: calc(100vh - 61px); margin: 61px 0px 0px 0px; }




/* SCROLLBAR DO FRAME CONTENT */
div.iframe-content::-webkit-scrollbar-track { background-color: #fafafa; }
div.iframe-content::-webkit-scrollbar { height: 10px; width: 10px; background: #fafafa; }
div.iframe-content::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.4); }




/* TEXTO QUANDO A TABELA FOR NULA */
div.iframe-content div.datatable-null span { width: 60%; display: block; margin: 50px auto; margin-bottom: 0px; text-align: center; cursor: default; font-size: 18px; color: rgba(0, 0, 0, 0.8); }



/* QUANDO HOUVER RESULTADOS */
div.iframe-content span.text { width: 100%; display: block; font-size: 16px; }


/* LABEL DE CONTINUAR CADASTRANDO */
.switch { margin-top: 1px; }
.switch label.reduzido { font-size: 1rem; }
.switch label.reduzido input[type=checkbox]:checked + .lever { background-color: rgba(36, 135, 215, 0.45); }
.switch label.reduzido input[type=checkbox]:checked + .lever:after { background-color: #298CDC; }
.switch label.reduzido .lever { width: 26px; height: 10px; vertical-align: middle; margin: 0 5px; margin-top: -2px; }
.switch label.reduzido .lever:before, .switch label.reduzido .lever:after { width: 14px; height: 14px; top: -2px; }
.switch label.reduzido input[type=checkbox]:checked + .lever:before, .switch label.reduzido input[type=checkbox]:checked + .lever:after { left: 13px; }


/* IFRAME SECUNDÃRIO DENTRO DO IFRAME PRINCIPAL */
iframe.secondary { width: 100%; height: calc(100% - 75px); border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 2px; margin-top: 10px; background-color: rgba(0, 0, 0, 0.02); }


/* CARDBOX */
div.cardbox { cursor: pointer; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 2px; position: relative; 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 3px 10px 0 rgba(0, 0, 0, 0.03); transition: 0.2s; }
div.cardbox:hover { transition: 0.2s; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.05); }

div.cardbox > span.title { width: 100%; display: block; font-size: 15px; font-weight: 500; padding-bottom: 10px; }
div.cardbox span.field-title { width: 100%; display: block; font-size: 13px; font-weight: 500; }
div.cardbox span.field { width: 100%; display: block; font-size: 13px; }

div.cardbox > label.checkbox { position: absolute; bottom: 4px; right: 6px; }



/* IMAGEBOX */
div.imagebox { background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 2px; position: relative; overflow: hidden; 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 3px 10px 0 rgba(0, 0, 0, 0.03); transition: 0.2s; padding: 3px 5px !important; }
div.imagebox:hover { transition: 0.2s; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.05); }

div.imagebox > span.title-box { font-size: 12px; color: rgba(0, 0, 0, 0.4); width: 100%; display: block; margin-bottom: 10px; }
div.imagebox > img.main-image { width: auto; max-width: 65%; margin: 10px; cursor: pointer; }
div.imagebox > img.main-image.userpicture { height: 184px; width: auto; margin: 12px 0px 12px 16px; border-radius: 100%; border: 1px solid rgba(0, 0, 0, 0.05); cursor: pointer; }

div.imagebox > div.tools { position: absolute; top: 0; right: -30px; height: 100%; padding: 5px 0px; background-color: white; box-shadow: -2px 0px 4px 0 rgba(0, 0, 0, 0.1); transition: 0.4s; transition-delay: 0.2s; overflow-y: auto; }
div.imagebox > div.tools > img { padding: 8px; width: 36px; transition: 0.4s; cursor: pointer; opacity: 0.3; display: block; display: block; }
div.imagebox > div.tools > img:hover { transition: 0.2s; background-color: rgba(0, 0, 0, 0.1); opacity: 0.9; }

div.imagebox:hover div.tools { right: 0px; transition: 0.2s; }






/* FOOTER */
div.iframe-footer { position: absolute; bottom: 110px; left: 0; width: 100%; height: 32px; padding: 0px 24px 0px 10px; overflow: hidden; animation: show_sofly 0.8s; }

div.iframe-footer button { border: none; border-radius: 2px; padding: 8px 14px 8px 10px; text-transform: uppercase; height: 100%; font-size: 14px; 
	color: rgba(255, 255, 255, 1); transition: 0.4s; cursor: pointer; opacity: 0.8; margin-left: 12px; }

div.iframe-footer button > img { width: 16px; vertical-align: middle; margin-right: 6px; margin-top: -3px; opacity: 1; transition: 0.4s; }

div.iframe-footer button:hover, div.iframe-footer button:focus { opacity: 1; transition: 0.4s; }
div.iframe-footer button:hover > img, div.iframe-footer button:focus > img { opacity: 0.9; transition: 0.4s; }


div.iframe-footer button:disabled { background-color: rgba(0, 0, 0, 0.3) !important; cursor: not-allowed; transition: 0.2s; }
div.iframe-footer button:disabled > img { opacity: 1; }



/* RESPONSIVIDADE */
/* TELA MEDIA */
@media only screen and (max-width: 600px) {
	div.iframe-footer { display: inline-block; padding: 0px 16px 0px 5px; }

	div.iframe-footer button { width: auto; text-align: center; padding: 8px 16px; }
	div.iframe-footer button > img { display: none; }

	div.iframe-content{margin: 0px 0px;}
}




@keyframes show_sofly {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
