input[type="file"]{
    display: none;
}


div.upload-arquivo {
	margin-top: 10px;
	position: relative;
	padding: 15px 0px 10px 15px !important;
}


div.upload-arquivo > label{
    padding: 10px 15px 10px 15px;
    align-items: center;
    background-color: #666;
    color:whitesmoke;
    opacity: 0.7;
    transition: all ease .4s;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase !important;
}

span.nome-arquivo{
    color: rgba(0, 0, 0, .8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 15px;

}

div.upload-arquivo label > img{
    width: 25px;
    margin: 3px 5px 0px 0px;
    vertical-align: bottom;   

}

div.upload-arquivo > label:hover{
    opacity: 1;
    transition: all ease .4s;
}


/* UPLOAD IMAGEM ESTILO WHATS */
.imagembox{
    width: 100%;
    margin-top: 10px;
    position: relative;
}


.imagem{
    width: 263px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}


.imagem > img{
    width: 263px;
    height: 150px;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: rgba(66, 66, 66, .5);
    opacity: .6;
    cursor: pointer;
}


/* TEXT IMAGEM */
span.textbox{
    position: absolute;
    display: block;
    width: 263px;
    top: 50px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;
}


span.textbox > img{
    width: 30px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
}


/* ICONE REMOVE IMAGEM */
span.removeimg{
    position: absolute;
    display: block;
    width: 263px;
    top: 20px;
}


span.removeimg > img{
    float: right;
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
    opacity: .5;
    transition: all .5s ease;
}


span.removeimg > img:hover{
    transition: all .5s ease;
    opacity: 1 ;
}


.imagem:hover > img,
span.textbox:hover{
    transition: all .5s ease;
    opacity: 1;
}


/* RESPONSIVIDADE TELA PEQUENA */
@media only screen and (max-width:350px){
 
    .imagem,
    .imagem > img,
    span.textbox,
    span.removeimg{
        width: 200px !important;
    }
    
}

